{% extends "layout.html" %}
{% block body %}
<div class="slider-area position-relative">
    <div class="single-slider d-flex align-items-center slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="single_field">
              <input type="text" placeholder="Search keyword" class="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="job_listing_area section-bg2 plus_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="job_lists m-0">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="single_jobs white-bg d-flex justify-content-between">
                  <div class="jobs_left d-flex align-items-center">
                    <div class="thumb">
                      <img src="../static/img/icon/1.svg" alt="">
                    </div>
                    <div class="jobs_conetent">
                      <a href="#">
                        <h4>John Smith</h4>
                      </a>
                      <div class="links_locat d-flex align-items-center">
                        <div class="location">
                          <p> <i class="fas fa-map-marker-alt"></i> New York, USA</p>
                        </div>
                        <div class="location">
                          <p> <i class="far fa-clock"></i> In Progress</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jobs_right">
                    <div class="apply_now">
                      <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                      <a href="job_details.html" class="boxed-btn3">Work on Case</a>
                    </div>
                    <div class="date">
                      <p>Last Updated: 31 Jan 2020</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="pagination_wrap">
                  <ul>
                    <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                    <li><a href="#"><span>01</span></a></li>
                    <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

<script src="../static/js/index.js"></script>
