table.dataTable td.eventDate {
  white-space: nowrap;
}

table.dataTable td.opportunityName {
  white-space: nowrap;
}

.btn-save {
  background-color: #66ac8d;
  color:white;
  font-size:20px;
}

select {
  width:100%;
}
